# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider/JetBrains IDEs
.idea/

# MonoGame intermediate cache
*.mgcb.cache
*.mgfxo

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
